@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --secondary-color: rgb(234, 120, 97);
  --third-color: black;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Global Selectors */

body {
  background-color: rgb(255, 255, 255);
}

.main-header {
  height: 5.5vh;
  background: var(--secondary-color);
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: var(--main-color);
  border-bottom: 5px solid var(--third-color);
}

.main-header nav a {
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  margin: auto 1.5rem;
  padding: 0 1rem;
}

header.main-header nav a:not(:last-child) {
  margin-right: 8px;
}

header.main-header nav a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0%;
  height: 1px;
  background: var(--main-color);
  border-radius: 3px;
  transition: width 0.5s;
}

header.main-header nav a:hover:after {
  width: 100%;
}

.mainview {
  padding: 500px;
  margin-bottom: 25px;
  background: url(./images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: "center";
  color: var(--main-color);
  justify-content: center;
  align-content: center;
}
.mainview h1 {
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.339);
  width: fit-content;
  font-size: 90px;
}
#about-me {
  margin: 5rem auto;
}
.box {
  border: 5px solid black;
  color: var(--main-color);
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 30px 15px;
  margin: 5rem;
  width: 80vw;
  height: auto;
  font-size: 30px;
  text-align: center;
}

section #prfpic {
  border-radius: 5%;
  width: 20vw;
  height: auto;
  border: 5px solid black;
}

.sectionStyle {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: auto;
}

.tsSection {
  border-top: 1.5px solid rgba(0, 0, 0, 0.15);
}
#tsTitle {
  text-align: center;
  font-size: 2.5vw;
}
.techPng {
  width: 10vw;
  margin: 3rem auto;
}

.pngContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resumeStyling {
  display: flex;
  width: auto;
  background-color: rgb(242, 246, 249);
  height: 400px;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
  font-size: 1vw;
}
.resumeStyling h1 {
  margin-right: 5rem;
}

.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.projects {
  background-color: rgb(255, 255, 255);
  font-size: 1.6vw;
  text-align: center;
}

.projSection {
  width: 100%;
  display: flex;
  overflow: auto;
}
.projCol {
  margin: 5rem;
  padding: 4rem 4rem 0rem 4rem;
  font-size: 1vw;
  background-color: black;
  border-radius: 2rem;
  color: white;
}

.repoBtn {
  height: 4.5vh;
  margin: 5rem auto;
  text-align: center;
  background: white;
  font-size: 1vw;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 0.5rem;
}

.repoBtn a {
  padding: 1.5rem;
  text-decoration: none;
  color: black;
  
}

.repoBtn:active {
  transform: scale(0.9);
}

.projects a img {
  height: 25vh;
  width: 18vw;
  margin: 2rem 1rem;
  border-radius: 2rem;
  /* border: 5px solid rgba(1, 1, 1, 0.8); */
}

.projects a img:focus {
  outline: none;
}

.projects a img:active {
  transform: scale(0.95);
}

.bottom-bar {
  height: 5.5vh;
  color: var(--main-color);
  background: var(--secondary-color);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 5px solid var(--third-color);
}

.bottom-bar a {
  text-decoration: none;
  color: var(--main-color);
  position: relative;
  margin: 1.35rem;
  padding: 0px 1rem;
}

footer.bottom-bar a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0px;
  width: 0%;
  height: 1px;
  background: var(--main-color);
  border-radius: 3px;
  transition: width 0.5s;
}

footer.bottom-bar a:hover:after {
  width: 100%;
}

@media only screen and (max-width: 1920px) {
  .box {
    font-size: 24px;
    width: fit-content;
  }
  .resumeStyling {
    height: 350px;
  }
  .projects a img {
    height: auto;
    width: 20vw;
  }
}

@media only screen and (max-width: 1440px) {
  .box {
    font-size: 20px;
    padding: 10px;
  }
  .sectionStyle {
    width: 85vw;
  }

  .resumeStyling {
    height: 250px;
  }
  .eduWork {
    font-size: 1.25vw;
  }
  .projects a img {
    height: 20vh;
    width: 25vw;
  }
  .projCol {
    font-size: 2vw;
  }
  .repoBtn a{
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1024px) {
  .mainview {
    padding: 300px;
    font-size: 1.3vw;
  }
  .mainview h1 {
    font-size: 4.5vw;
  }
  section #prfpic {
    height: auto;
    width: 35vw;
  }
  .box {
    font-size: 20px;
    padding: 10px;
  }
  .sectionStyle {
    flex-direction: column;
  }
  .eduWork {
    font-size: 1.5vw;
  }
  .projects {
    font-size: 2.5vw;
  }
  .projCol {
    padding: 3rem 3.5rem 0rem 3.5rem;
    margin: 4rem;
    font-size: 1.5vw;
    font-size: 2vw;
  }
  .repoBtn a {
    padding: 1rem;
  }
}

@media only screen and (max-width: 720px) {
  section #prfpic {
    height: auto;
    width: 35vw;
  }
  .main-header {
    font-size: 1rem;
    padding: 1rem;
  }
  .main-header nav a {
    margin: auto;
  }
  .mainview {
    padding: 150px;
    font-size: 1.35vw;
  }
  .mainview h1 {
    font-size: 4.5vw;
  }
  .box {
    font-size: 16px;
    padding: 10px;
    margin: 2rem auto;
  }

  .resumeStyling {
    height: 200px;
    font-size: 2.5vw;
  }
  .eduWork {
    font-size: 2vw;
  }
  .projects a img {
    height: auto;
    width: 35vw;
    border-radius: 0.5rem;
  }
  .repoBtn a{
    font-size: 3vw;
  }
}

@media only screen and (max-width: 480px) {
  #about-me {
    margin: 1.5rem auto;
  }
  .box {
    margin: 2rem auto;
    font-size: 15px;
  }
  #tsTitle {
    font-size: 3.5vw;
  }
  .techPng {
    margin: 1.75rem auto;
  }
  .eduWork {
    font-size: 2vw;
  }
  .projects {
    font-size: 2.75vw;
  }

  .projCol {
    padding: 2rem 2.5rem 0rem 2.5rem;
    margin: 4rem;
    font-size: 1.5vw;
    font-size: 3.5vw;
  }
}
